.app-wrapper {
	max-width: 100%;
	margin: 0 20%;
	display: grid;
	grid-template-areas: "h h"
	"n c";

	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
}

.header {
	grid-area: h;
	background-color: springgreen;
}

.header img {
	max-width: 10%;
}

.nav {
	grid-area: n;
	background-color: springgreen;
}

.content {
	grid-area: c;
	
}

.content img {
	max-width: 99%;
	margin: 1%;
}